{% extends 'base.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col d-flex align-items-center">
            <h4 class="mr-4 my-0">Select User:</h4>
            <select class="browser-default custom-select my-3" style="max-width: 150px;" id="roleSelect">
                <option>Choose role</option>
                {% for role in db_roles %}
                <option>{{ role }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex align-items-center" id="actionSelect">
            <h4 class="mr-4 my-0">Choose what to do:</h4>
            <button type="button" class="btn btn-info" action="reload">Reload</button>
            <button type="button" class="btn btn-primary" action="update">Update</button>
            <button type="button" class="btn btn-success" action="add">Add</button>
            <button type="button" class="btn btn-danger" action="delete">Delete</button>
            <button type="button" class="btn btn-unique" action="undefined">Udefined</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="d-flex align-items-center justify-content-between">
                <h4 class="mr-4 mt-4">DB Enities:</h4>
                <div class="d-flex">
                    <h4 class="mr-4 mt-4">Select Entity ID:</h4>
                    <h4 class="mr-4 mt-4" id="displayEntityId"></h4>
                </div>
            </div>
            <table class="table table-striped" id="entitiesTable">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Description</th>
                        <!-- <th scope="col">Delete</td> -->
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                    <tr id="{{ entity.id }}">
                        <th scope="row">{{ entity.id }}</th>
                        <td>{{ entity.description }}</td>
                        <!-- <th class="deleteThisRow text-danger"><i class="fas fa-times" style="cursor: pointer;"></i></th> -->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
