{% extends 'userInterface.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block debug_info %}
<!--Debug info-->
<div class="card mb-4 wow fadeIn">
    <div class="card-body">
        <div class="example-wrapper">
            <h1>Hello {{ controller_name }}! ✅</h1>

            This friendly message is coming from:
            <ul>
                <li>Your controller at <code><a href="{{ '/var/www/symfony/project1/src/Controller/IndexController.php'|file_link(0) }}">src/Controller/IndexController.php</a></code></li>
                <li>Your template at <code><a href="{{ '/var/www/symfony/project1/templates/index/index.html.twig'|file_link(0) }}">templates/index/index.html.twig</a></code></li>
            </ul>
            <h5>Debug info from '../src/Controller/{{ controller_name }}':</h5>
            <h4>{{ debug_info }}</h4>
        </div>
    </div>
</div>
<!--Debug info-->
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="asset/js/templates/index/index.js"></script>
<script type="text/javascript" src="asset/js/templates/user/user.js"></script>
{% endblock %}
